.recommendTripsForm {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  max-width: 47rem;
  align-items: center;
}

.recommendTripsFormFields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.fieldGroup {
  display: flex;
  gap: 1.25rem;
}

.fieldGroupLegend {
  padding-block-end: 0.625rem;
  margin-block-end: 0.625rem;
  width: 100%;
  border-bottom: 1px solid var(--neutral-500);
}

.field {
  flex: 1;
}

@media (max-width: 640px) {
  .fieldGroup {
    flex-direction: column;
  }
}
