.skeleton {
  border-radius: 4px;
  line-height: 1;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonBox {
  width: 100%;
  height: 2rem;
  background-color: var(--neutral-400);
  opacity: 0.8;
}

.skeletonInlineBox {
  width: 60px;
  height: 1rem;
  opacity: 0.8;
  margin-inline-start: auto;
}

.accent1 {
  background-color: var(--accent-1-500);
}

.accent2 {
  background-color: var(--accent-2-500);
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
}
