@use "typography";

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  @extend .text-1;
  color: var(--neutral-25);
  font-weight: 300;

  &:has(+ .inputWrapper .input:focus) {
    color: var(--primary-500);
  }
}


.inputWrapper {
  position: relative;
  margin-block-end: 1.25rem;
}

.input {
  @extend .text-1;
  border-radius: 8px;
  border: 1px solid var(--neutral-400);
  background-color: var(--neutral-500);
  color: var(--white);
  padding: 0.375rem 1rem;
  caret-color: var(--neutral-25);
  width: 100%;
  transition: border-color 0.5s ease;


  &:focus {
    outline: none;
    border-color: var(--primary-500);
  }

  &:has( + .inputError) {
    border-color: var(--error-500);
  }
}

.inputError {
  position: absolute;
  top: 100%;
}
